# This workflow will build a package using Maven and then publish it to GitHub packages when a release is created
# For more information see: https://github.com/actions/setup-java/blob/main/docs/advanced-usage.md#apache-maven-with-a-settings-path

name: Maven Package  
  
on:  
  release:  
    types: [created]  
  
jobs:  
  publish-github:  
    runs-on: ubuntu-latest  
    permissions:  
      contents: read  
      packages: write  
      
    steps:  
    - uses: actions/checkout@v4  
      
    - name: Set up JDK 11  
      uses: actions/setup-java@v4  
      with:  
        java-version: '11'  
        distribution: 'temurin'  
        server-id: github  
        settings-path: ${{ github.workspace }}  
      
    - name: Build and Test  
      run: mvn -B package --file pom.xml  
      
    - name: Publish to GitHub Packages  
      run: mvn deploy -s $GITHUB_WORKSPACE/settings.xml  
      env:  
        GITHUB_TOKEN: ${{ github.token }}  
  
  publish-maven-central:  
  runs-on: ubuntu-latest  
  needs: publish-github  
    
  steps:  
  - uses: actions/checkout@v4  
    
  - name: Set up JDK 11  
    uses: actions/setup-java@v4  
    with:  
      java-version: '11'  
      distribution: 'temurin'  
      server-id: ossrh  
      server-username: MAVEN_USERNAME  
      server-password: MAVEN_PASSWORD  
      gpg-private-key: ${{ secrets.MAVEN_GPG_PRIVATE_KEY }}  
      gpg-passphrase: MAVEN_GPG_PASSPHRASE  
    
  - name: Publish to Maven Central  
    run: mvn clean deploy -P release  
    env:  
      MAVEN_USERNAME: ${{ secrets.OSSRH_USERNAME }}  
      MAVEN_PASSWORD: ${{ secrets.OSSRH_TOKEN }}  
      MAVEN_GPG_PASSPHRASE: ${{ secrets.MAVEN_GPG_PASSPHRASE }}